body {
	background: black;
}

.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}
.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	width: 350px;
	margin: 0;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 5px;
}
.body-left p:first-child {
	margin-top: 0;
	font-size: large;
}

.body-right input {
	border-bottom-color: grey;
	border-top: white;
	border-left: white;
	border-right: white;
	color: grey;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: gray;
	padding: 3px;
}
